main {
    min-height: 80vh;
}

body {
    background-color: #F3F6F9;
}


/* .nav-bar-color {
    background-color: #2bdf61;
} */ 

@media print {
    body * {
        visibility: hidden;
      }
      .to-print * {
        visibility: visible;
       }
  }
